<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>RouterFilter</filter-name>
        <filter-class>filter.RouterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RouterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutSevlet</servlet-name>
        <servlet-class>controller.LogOutSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterSevlet</servlet-name>
        <servlet-class>controller.RegisterSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccount</servlet-name>
        <servlet-class>controller.ManageAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProfile</servlet-name>
        <servlet-class>controller.ManageProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSevlet</servlet-name>
        <servlet-class>controller.SearchSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderConfirmation</servlet-name>
        <servlet-class>controller.OrderConfirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductServlet</servlet-name>
        <servlet-class>adminController.AdminProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategoriesServlet</servlet-name>
        <servlet-class>adminController.AdminCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrderProcessingServlet</servlet-name>
        <servlet-class>adminController.AdminOrderProcessingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrderedServlet</servlet-name>
        <servlet-class>adminController.AdminOrderedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddProductServlet</servlet-name>
        <servlet-class>adminController.AdminAddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProductServlet</servlet-name>
        <servlet-class>adminController.AdminEditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminIndexServlet</servlet-name>
        <servlet-class>adminController.AdminIndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductInCart</servlet-name>
        <servlet-class>controller.DeleteProductInCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutSevlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterSevlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccount</servlet-name>
        <url-pattern>/manage_account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProfile</servlet-name>
        <url-pattern>/manage-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSevlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderConfirmation</servlet-name>
        <url-pattern>/order-confirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductServlet</servlet-name>
        <url-pattern>/admin-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoriesServlet</servlet-name>
        <url-pattern>/admin-categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderProcessingServlet</servlet-name>
        <url-pattern>/admin-orderProcessing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderedServlet</servlet-name>
        <url-pattern>/admin-ordered</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddProductServlet</servlet-name>
        <url-pattern>/admin-addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProductServlet</servlet-name>
        <url-pattern>/admin-editProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminIndexServlet</servlet-name>
        <url-pattern>/admin-index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductInCart</servlet-name>
        <url-pattern>/delete-productCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
